.calc {
  width: 30%;
  margin: 120px auto;
  font-size: 20px;
}

.result {
  background-color: #858694;
  padding: 20px 10px 10px 20px;
  text-align: right;
  color: white;
  margin-bottom: 1px;
}

.orangeBtn {
  background-color: #f5913e;
}

.button {
  display: -ms-grid;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

button {
  border-width: 1px;
  border-color: #e4e4e4;
  padding: 20px;
}

#zero {
  grid-column: 1/3;
}

.grayBtn {
  background-color: #e0e0e0;
}
